@use '../common/utils';
@use '../common/colors';

.MainBlock {
  font-family: 'Euclid Circular A', sans-serif;
  width: 100%;
  margin-top: 13px;
  .inner {
    display: flex;
    flex-direction: row;
  }
  @include utils.centering;
  .MainBlockLeft {
    display: flex;
    flex-direction: row;
    .sliderArrows {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      gap:25px;
    }
  }
  .MainBlockRight {
    display: flex;
    flex-direction: column;
  }
  .MainBlockFirstBlockInner, .MainBlockSecondBlockInner {
    padding: 40px 165px 38px 33px;
  }
  .MainBlockFirstBlock {
    width: 100%;
    max-width: 487px;
    border-radius: 20px;
    background-color: rgba(255, 158, 16, 0.82);
    backdrop-filter: blur(60px);
    .title {
      font-size: 24px;
      font-weight: 600;
      color: white;
      padding-bottom: 15px;
      line-height: 120%;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
      color: white;
      width: 289px;
      padding-bottom: 21px;
      line-height: 150%;
    }
    .button {
      font-size: 15px;
      font-weight: 500;
      color: white;
      background-color: #ffefd636;
      border-radius: 4px;
      padding: 12px 14px 12px 16px;
      width: fit-content;
      line-height: 140%;
    }
    .icon {
      width: 146px;
      height: 62px;
      position: absolute;
      left: 300px;
      bottom: 25px;
      z-index: 2
    }
    .icon2 {
      width: 146px;
      height: 62px;
      position: absolute;
      left: 307px;
      bottom: 25px;
      z-index: 1
    }
  }

  .MainBlockSecondBlock {
    width: 100%;
    max-width: 487px;
    border-radius: 20px;
    backdrop-filter: blur(60px);
    margin-top: 33px;
    background: radial-gradient(#d7f9b6, #f1fae8bd);
    .title {
      font-size: 24px;
      font-weight: 600;
      color: #3F9E43;
      padding-bottom: 15px;
      line-height: 120%;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
      color: #212121cc;
      padding-bottom: 21px;
      line-height: 150%;
    }
    .button {
      font-size: 15px;
      font-weight: 500;
      color: #4CAF50;
      border-radius: 4px;
      padding: 12px 14px 12px 16px;
      width: fit-content;
      background-color: #65988614;
      line-height: 140%;
    }
    .icon {
      width: 142px;
      height: 120px;
      flex-shrink: 0;
      position: absolute;
      left: 310px;
      top: 120px
    }
    .icon2 {
      width: 69px;
      height: 58px;
      flex-shrink: 0;
      position: absolute;
      left: 370px;
      top: 60px
    }
    .icon3 {
      width: 38px;
      height: 32px;
      flex-shrink: 0;
      position: absolute;
      left: 350px;
      top: 45px
    }
  }

  .SliderWrapper {
    @include utils.centering;
    margin-right: 30px;
    .SliderImg img {
      height: 100%;
      width: 100%;
      border-radius: 0 20px 20px 0;
    }
    .SliderImg {
      width: 100%;
      height: 100%;
    }
  }
  .SliderInner {
    padding: 74px 52px 172px 82px;
    background-color: #FFF3E3;
    backdrop-filter: blur(60px);
    border-radius: 20px 0 0 20px;
    .title {
      color: #212121;
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      width: 386px;
    }
    .text {
      color: #212121cc;
      font-size: 18px;
      font-weight: 500;
      line-height: 180%;
      margin-top: 25px;
      margin-bottom: 34px;
      width: 327px;
    }
    .button {
      color: #FFA726;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      padding: 15px 35px 13px 35px;
      border-radius: 4px;
      background-color: #ffc87833;
      width: fit-content;
    }
  }

}


